.form-control-invalid{
    color: red;
}
.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
}

.form-control.ng-touched.ng-valid{
    border: 1px solid green;
}

.box{
    border: 1px solid rgb(106, 177, 144);
}

.alert-login{
    margin-top: 30px;
}

