<div class="container center">
	<div class="" style=" width: 50%; margin: 0 auto;">
		<form [formGroup]= "exForm" method="post">
			<div class="row">
				<div id="Highlighted-form" class="col-sm-11">
				   <div class="form-group">
					  <div class="controls">
						 <div class="label">Tytuł</div>
						 <input formControlName="title" class="form-control  Highlighted-label" type="text">
						 <small *ngIf="exForm.get('title')?.hasError('required') && exForm.get('title')?.touched" class="form-control-invalid">Tytuł jest wymagany</small>
					   </div>
				   </div>
				   <div class="form-group">
					<div class="controls">
					   <div class="label">Typ</div>
					   <select  formControlName="type" class="form-control  Highlighted-label">
						  <option style="display: none;"></option>
						  <option *ngFor="let element of typeArray">{{element}}</option>
					   </select>
					   <small *ngIf="exForm.get('type')?.hasError('required') && exForm.get('type')?.touched" class="form-control-invalid" aria-placeholder="">Typ jest wymagany</small>
					   <span *ngIf="exForm.get('type')?.touched && exForm.get('type')?.value != 'Przyczepa'">{{addValidator()}}</span>
					   <span *ngIf="exForm.get('type')?.touched && exForm.get('type')?.value == 'Przyczepa'">{{removeValidator()}}</span>
					</div>
				 </div>
				   <div class="form-group">
					  <div class="controls">
						 <div class="label">Cena</div>
						 <input  formControlName="price" class="form-control  Highlighted-label" type="number">
						 <small *ngIf="exForm.get('price')?.invalid && exForm.get('price')?.touched" class="form-control-invalid">Cena jest wymagana</small>         
					  </div>
				   </div>
				   <div class="form-group">
					  <div class="controls">
						 <div class="label">Miasto</div>
						 <select  formControlName="city" class="form-control  Highlighted-label">
							<option style="display: none;"></option>
							<option *ngFor="let element of cityArray">{{element}}</option>
						 </select>
						 <small *ngIf="exForm.get('city')?.hasError('required') && exForm.get('city')?.touched" class="form-control-invalid">Miasto jest wymagane</small>
					  </div>
				   </div>
				   <div class="form-group">
					  <div class="controls">
						 <div class="label">Marka</div>
						 <select formControlName="brand" class="form-control  Highlighted-label">
							<option style="display: none;"></option>
							<option *ngFor="let element of brandArray">{{element}}</option>
						 </select>		
						 <small *ngIf="exForm.get('brand')?.hasError('required') && exForm.get('brand')?.touched" class="form-control-invalid">Marka jest wymagana</small>     
						</div>
				   </div>
				   <div class="form-check form-check-inline">
					  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="true">
					  <label class="form-check-label label" for="inlineCheckbox1">Pierwszy właściciel</label>
					  <input class="form-check-input" style="margin-left: 50px;" type="checkbox" id="inlineCheckbox2" value="true">
					  <label class="form-check-label label" for="inlineCheckbox2">Uszkodzony</label>
				   </div>
				   <div class="form-group">
					<div class="controls">
					   <div class="label">Rok</div>
					   <input  formControlName="year" class="form-control  Highlighted-label" type="number">
					   <small *ngIf="exForm.get('year')?.hasError('required') && exForm.get('year')?.touched" class="form-control-invalid">Rok jest wymagany</small>
					</div>
				 </div>
				 <div class="form-group">
					<div class="controls">
					   <div class="label">Model</div>
					   <input formControlName="model" class="form-control  Highlighted-label" type="text">
					   <small *ngIf="exForm.get('model')?.hasError('required') && exForm.get('model')?.touched" class="form-control-invalid">Model jest wymagany</small>
					 </div>
				 </div>
				 <div class="form-group" *ngIf="exForm.get('type')?.touched && exForm.get('type')?.value != 'Przyczepa' && exForm.get('type')?.valid">
					<div class="controls">
					   <div class="label">Pojemnosc</div>
					   <input formControlName="capacity" class="form-control  Highlighted-label" type="number">
					   <small *ngIf="exForm.get('capacity')?.hasError('required') && exForm.get('capacity')?.touched" class="form-control-invalid">Pojemnosc jest wymagana</small>
					 </div>
				 </div>
				 <div class="form-group" *ngIf="exForm.get('type')?.touched && exForm.get('type')?.value != 'Przyczepa' && exForm.get('type')?.valid">
					<div class="controls">
					   <div class="label">Moc</div>
					   <input formControlName="power" class="form-control  Highlighted-label" type="number">
					   <small *ngIf="exForm.get('power')?.hasError('required') && exForm.get('power')?.touched" class="form-control-invalid">Moc jest wymagana</small>

					 </div>
				 </div>
				 <div class="form-group" *ngIf="exForm.get('type')?.touched && exForm.get('type')?.value != 'Przyczepa' && exForm.get('type')?.valid">
					<div class="controls">
					   <div class="label">Przebieg</div>
					   <input formControlName="mileage" class="form-control  Highlighted-label" type="number">
					   <small *ngIf="exForm.get('mileage')?.hasError('required') && exForm.get('mileage')?.touched" class="form-control-invalid">Przebieg jest wymagany</small>

					 </div>
				 </div>
				   <div class="form-group">
					  <div class="controls">
						 <div class="label">Opis</div>
						 <textarea formControlName="description" class="form-control  Highlighted-label" rows="6"></textarea>
					  </div>
				   </div>
				   <p><button (click)="addAnnouncement()" type="submit" class="btn btn-info btn-block button"> Dodaj</button></p>
				</div>
			 </div>
		</form>
	   
	</div>
 </div>