.form-control-invalid{
    border: 1px solid red;
    color: red;
}

.fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-blue-text {
    color: #0A38F5;
    }
    .dark-pink-text {
    color: #AC003A;
    }
    .dark-amber-text {
    color: #ff6f00;
    }
    .dark-teal-text {
    color: #004d40;
    }

.nav-bar{
    background-color: rgb(106, 177, 144);
}

.search-button{
    font-size: 20px;
     margin-left: 20px;
}

.login{
    color: rgb(255, 255, 240); 
    font-size: 20px
}