<div class="container row" style="margin: 50px;">
    <div class="col-md-12">
        <h1>Dodaj zdjecia</h1>
    </div>
    <div class="col-md-6" style="margin-top: 10px;">
        <input class="form-control" type="file" (change)="onFileChanged($event)">
    </div>
    <div class="col-md-6"  style="margin-top: 10px;">
        <input type="button" class="btn btn-light upload" (click)="upload()" value="Dodaj zdjęcie">
    </div>
  </div>
  <hr />
  <div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
  </div>
  <div class="container row" style="margin: 50px;">
    <ul class="row" *ngFor="let element of this.map | keyvalue">
              <img (click)="delete(element.key)"[src]="element.value" style="height: 200px; width: 200px;" class="img-thumbnail">   
    </ul>
  </div>
  <div class="container">
    <button class="btn btn-primary server" (click)="send()">Wyslij zdjecia</button>
  </div>
