
.font-weight-semibold {
    font-weight: 600 !important;
}

.history{
    margin: 50px;
    font-size: 20px;
    color: rgb(106, 177, 144);
}
.background{
    background-color: rgb(242, 244, 245);
}

.search-button{
    max-width: 50%;
    margin: auto; 
    background-color: rgb(106, 177, 144);
}

.filter-card{
    margin: 20px;
}

.row-card{
    margin-bottom: 50px;
}